.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.position {
  position: absolute;
  z-index: 1000;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0.4rem 1.2rem rgba(36, 42, 46, 0.16);
}
